
@{
    ViewBag.Title = "Completed";
}

<h1>Order Completed, We will ship your Album as soon as posible.</h1>
<div class="text-center">
    <a class="btn btn-default" href="/Home/Index">
        Back Home
    </a>
</div>
